<a href="{{ path('contact') }}" class="float">
    <i class="fa fa-envelope my-float"></i>
</a>
<div class="label-container">
    <div class="label-text">{{ 'home.feedback' | trans }}</div>
    <i class="fa fa-play label-arrow"></i>
</div>