/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}

main {
    margin-top: 56px; /* Debut de page après navbar */
}

/* Dashboard
-------------------- */
.ds-btn li {
    list-style: none;
    float: left;
    padding: 10px;
}

.ds-btn li a span {
    padding-left: 15px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.ds-btn li a span small {
    width: 100%;
    display: inline-block;
    text-align: left;
}

/* FA Icons
------------------------- */
.icon-reader {
    color: #2980b9;
}

.icon-edit {
    color: #27ae60;
}

.icon-trash {
    color: #e74c3c;
}

/* Panel With tab bootstrap
------------------------- */
.b-tab {
    padding: 10%;
    margin-top: -8%;
}
.b-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.b-tab #tabs h6.section-title{
    color: #eee;
}
.b-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.b-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.b-tab .nav-link:hover {
    border: none;
}
.b-tab thead{
    background: #f3f3f3;
    color: #333;
}
.b-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* SideBar
------------------------- */
.custom-sidebar {
    position: fixed;
    z-index: 10;
}

.list-group {
    margin: auto;
    float: left;
    padding-top: 20px;
}

.lead {
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 10%;
}

/* Floating button + Label
--------------------------*/
.label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
    z-index: 10;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
    z-index: 10;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #06C;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
}

.my-float {
    font-size: 24px;
    margin-top: 18px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
    visibility: visible;
    opacity: 1;
}

/* Categories
------------------------- */
.form-edit-category {
    display: inline-block;
    color: #fff;
}

.edit-category {
    display: inline-block;
}

.delete-category {
    display: inline-block;
}

.form-block-category {
    display: block;
    margin-top: 15px;
}

/* Footer
------------------------- */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #343A40;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}