/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}

main {
    margin-top: 56px; /* Debut de page après navbar */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 7rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.user-is-not-actif {
    position: absolute;
    z-index: 2;
    width: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* Tooltip
------------------------- */
.custom-tooltip {
    position: relative;
}

.custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
}

.custom-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
}

.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bottom-arrow.tooltiptext {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.bottom-arrow.tooltiptext::after {
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.top-arrow.tooltiptext {
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.top-arrow.tooltiptext::after {
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.left-arrow.tooltiptext {
    top: 0;
    left: 110%;
    margin-left: 0;
}

.left-arrow.tooltiptext::after {
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.right-arrow.tooltiptext {
    top: 0;
    right: 110%;
    margin-left: 0;
}

.right-arrow.tooltiptext::after {
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

/* Home page
------------------------- */
/*search box css start here*/
.search-sec {
    padding: 2rem;
    margin-top: -150px;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.search-title {
    position: absolute;
    bottom: 170px;
    color: #fff;
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    left: 25%;
}

.listing {
    background: #ffffff;
}

.listing_image {
    z-index: 1;
}

.listing_image_container {
    height: 100%;
    overflow: hidden;
}

.listing_image_container > img {
    -webkit-transition: all 1600ms ease;
    -moz-transition: all 1600ms ease;
    -ms-transition: all 1600ms ease;
    -o-transition: all 1600ms ease;
    transition: all 1600ms ease;
}

.listing:hover .listing_image_container > img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.listing_price {
    position: absolute;
    left: 34px;
    margin-top: -15px;
}

.tag_price_subtitle {
    font-size: 0.7em;
}

.listing_location {
    padding-left: 34px !important;
    padding-top: 45px;
    padding-bottom: 17px;
    padding-right: 30px;
    background: #f3f7fb;
    margin-top: 0 !important;
}

.listing_location > img {
    margin-top: -3px;
}

.listing_location a {
    max-width: 230px;
    margin-left: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #2b2e35;
    line-height: 1.875;
}

.listing_location a:hover {
    color: #adc867;
}

.listing_info {
    background: #f3f7fb;
    padding-left: 29px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-top: 2px;
}

.listing_info ul li {
    margin-bottom: 10px;
}

.listing_info ul li:not(:last-of-type) {
    margin-right: 28px;
}

.listing_info ul li span {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    color: #6c7079;
}

.tags {
    position: absolute;
    top: 15px;
    left: 19px;
}

.tag {
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.tag:not(:last-child) {
    margin-right: 15px;
}

.tag a {
    display: block;
    height: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 19px;
    line-height: 35px;
    letter-spacing: 0.2em;
}

.tag_house {
    background: #adc867;
}

.tag_sale {
    background: #55407d;
}

.tag_rent {
    background: #588dfb;
}

.tag_price {
    display: inline-block;
    height: 37px;
    padding-left: 27px;
    padding-right: 26px;
    background: #ff006c;
    line-height: 37px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.prop_location {
    margin-top: 15px;
    padding-left: 1px;
}

.prop_location img {
    margin-top: -6px;
}

.prop_location span {
    font-size: 16px;
    font-weight: 600;
    color: #6c7079;
    margin-left: 25px;
}

/* SideBar
------------------------- */
.custom-sidebar {
    position: fixed;
    z-index: 10;
}

.list-group {
    margin: auto;
    float: left;
    padding-top: 20px;
}

.lead {
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 10%;
}

/* Floating button + Label
--------------------------*/
.label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
    z-index: 10;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
    z-index: 10;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #06C;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
}

.my-float {
    font-size: 24px;
    margin-top: 18px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container {
    visibility: visible;
    opacity: 1;
}

/* Login / Register
------------------------- */
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #d2dae2;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.btn-back-to-registered {
    color: white;
    background-color: #ea4335;
}

.btn-back-to-registered:hover {
    background-color: #c0392b;
    color: #fff;
}

.btn-return-back-page {
    color: white;
    background-color: #3b5998;
}

.btn-return-back-page:hover {
    background-color: #1e3799;
    color: #fff;
}

/* Contact page
------------------------- */
.top-page-contact {
    height: 400px;
    width: 100%;
    background: url('../images/background-contact.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Profil page
------------------------- */
.top-page {
    min-width: 100%;
    height: 400px;
    background-color: #27ae60;
}

.profil-username {
    margin-top: -150px;
    color: #fff;
    font-size: 3em;
    text-align: center;
}

.profil-description {
    margin-top: 10px;
    margin-left: 100px;
    color: #fff;
    font-size: 0.7em;
    text-align: center;
}

.profil-picture {
    margin-top: 100px;
    text-align: center;
}

.my-picture {
    width: 150px;
    border: 10px solid #5eb5e0;
    background-color: #fff;
    border-radius: 100%;
}

.profil-menu {
    margin-top: 40px;
    font-size: 0.8em;
}

.fading-side-menu.affix-top {
    opacity: 1;
    transition: opacity 1s
}

.fading-side-menu.affix {
    top: 11.5px;
}

.fading-side-menu.affix {
    opacity: 0.2;
    transition: opacity 5s
}

.fading-side-menu.affix:hover {
    opacity: 1;
    transition: opacity 0.3s
}

.fading-side-menu a {
    color: rgb(102, 102, 102);
}

.fading-side-menu a .fa {
    padding-right: 15px;
}

.no-margin {
    margin: 0px !important;
}

/* Footer
------------------------- */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #343A40;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

