<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Changement mot secret</title>

    <link rel="stylesheet" href="{{ asset('email/css/welcome.css') }}">

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#000000">
    <tr>
        <td style="color: #FFF;"> Confirmation changement mot secret </td>
        <td class="header container">

            <div class="content">
                <table bgcolor="#000;">
                    <tr>
                        <td align="right"><h6 class="collapse">confirmer votre nouveau mot de passe</h6></td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
                <table>
                    <tr>
                        <td>

                            <h3>Vous avez modifier votre mot secret</h3>
                            <p class="lead">confirmer-vous mot secret suivant {{ secretpass }}</p>

                            <h3>En cliquant sur le lien ci-dessous vous confirmer le changement du mot secret <small> :-p </small></h3>
                            <p>en vous souhaitons une bonne navigation sur le site.</p>
                            <a class="btn" href="{{ url('profil.update-confirm-secretpass', {'id': user.id, 'secretpass': secretpass }) }}">cliquez-ici pour confirmer votre nouveau mot secret</a>
                            <br/>
                            <br/>

                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>